<div class="creation-edition-fields">
    <div class="name">
        <h3>Nome</h3>
        <input type="text" name="name">
    </div>

    <div class="avatar">
        <h3>Avatar</h3>
        <button>Enviar Avatar</button>
    </div>
</div>