{% extends './layout.njk' %}

{% import '../parts/card.njk' as card %}

{% block header %}
    <title>Foodfy | Login</title>
{% endblock %}

{% block content %}
    <form action="">
        {% call card.render('Iniciar Sessão', 'login-container') %}
            <div class="email">
                <h3>Email</h3>
                <input 
                    type="email"
                    placeholder="Digite seu email">
            </div>

            <div class="password">
                <h3>Senha</h3>
                <input 
                    type="password"
                    placeholder="Digite sua senha">
            </div>

            <div class="login-footer">
                <a href="/password-recover">Perdeu a senha?</a>
                 <button type="submit">Acessar</button>
            </div>
        {% endcall %}
    </form>
{% endblock %}