{% extends './layout.njk' %}

{% import '../parts/card.njk' as card %}

{% block header %}
    <title>Foodfy | Recuperar Senha</title>
{% endblock %}

{% block content %}
    <form action="">
        {% call card.render('Esqueceu a Senha?', 'login-container') %}
            <div class="email">
                <h3>Email</h3>
                <input 
                    type="email"
                    name="email"
                    placeholder="Digite seu email para recuperar sua senha">
            </div>

            <div class="forgot-password">
                 <button type="submit">Recuperar</button>
            </div>
        {% endcall %}
    </form>
{% endblock %}