{% extends './layout.njk' %}

{% import '../parts/card.njk' as card %}

{% block header %}
    <title>Foodfy | Recuperar Senha</title>
{% endblock %}

{% block content %}
    <form action="">
        {% call card.render('Nova Senha', 'login-container') %}
            <div class="email">
                <h3>Email</h3>
                <input 
                    type="email"
                    name="email"
                    placeholder="Digite seu email">
            </div>

            <div class="password">
                <h3>Nova Senha</h3>
                <input 
                    type="password"
                    name="password"
                    placeholder="Digite sua nova senha">
            </div>

            <div class="password">
                <h3>Repetir Senha</h3>
                <input 
                    type="password"
                    name="password"
                    placeholder="Repita sua nova senha">
            </div>

            <div class="forgot-password">
                 <button type="submit">Nova Senha</button>
            </div>
        {% endcall %}
    </form>
{% endblock %}