{% extends '../admin/layout.njk' %}

{% import '../parts/creation-card.njk' as card %}

{% block header %}
    <title>Foodfy | Nova Receita</title>
{% endblock %}

{% block content %}
    <form action='' method='POST'>
        {% call card.render({ 
            'title': 'Criando receita', 
            'buttonSave': 'Salvar receita'
        }) %}
            {% include './parts/fields.njk' %} 
        {% endcall %}
    </form>

{% endblock %}