{% extends '../layout.njk' %}

{% block header %}
{% endblock %}

{% block content %}
    <main>
        <div class="main-recipes">
            {% include './parts/recipe.njk' %}
        </div>
    </main>
    {% include '../parts/pagination.njk' %}
{% endblock %}