<!DOCTYPE html>
<html>
<head>
    {% block header %}
        <title>Foodfy | Admin</title>
    {% endblock %}
    {% include './parts/styles.njk' %}
</head>
<body>
    {% include './parts/header.njk' %}
    
    <div class="layout-page-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>