<div class="creation-edition-fields">

    <div class="avatar">
        <h3>Chef / Usuário</h3>
        <input type="text">
    </div>

    <div class="ingredients">
        <h3>Ingredientes</h3>
        <input type="text">
        <button class="add-new-field">Adicionar novo ingrediente</button>
    </div>

    <div class="preparation">
        <h3>Modo de preparo</h3>
        <input type="text">
        <button class="add-new-field">Adicionar novo passo</button>
    </div>

    <div class="aditional-info">
        <h3>Informaçōes adicionais</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

</div>