{% for recipe in recipes %}
    <div class="recipe">
        <img src="{{recipe.path}}" alt="Foto de {{recipe.img}}">
        <h2>{{recipe.name}}</h2>
        <p>Por {{recipe.profile_name}}</p>
    </div>
{% endfor %}