<header class="admin-header">
    <nav>
        <div class="logo">
            <a href="/admin">
                <img src="assets/logo_white.png" alt="Logo do Foodfy">
            </a>
        </div>
        <div class="links">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            <a href="/admin/users">Usuários</a>
            <a href="/logout">Sair</a>
        </div>
    </nav>
</header>