:root {
    --color-text-primary: #111111;
    --color-text-secondary: #777777;
    --color-text-third: #999999;
    --color-text-paragraph: #444444;

    --color-input-outline: #DDDDDD;

    --color-button-primary: #6558C3;
    --color-button-secondary: #4c40a8;

    --color-footer: #EEEEEE;
    --color-salmon: #FBDFDB;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}


html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-primary);

    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

footer p {
    margin: 0 auto;
    color: var(--color-text-third);
    font-size: 14px;
}


.layout-page-container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

header nav,
header .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .links {
    margin-left: 120px;
    display: flex;

    align-items: center;
    justify-content: center;
}

header nav .links a + a {
    margin-left: 30px;
}


header .search-container input {
    margin-right: 8px;
}

input {
    border: 1px solid var(--color-input-outline);
    padding: 4px 8px;
    border-radius: 4px;
    width: 230px;
}

input::placeholder {
    font-size: 14px;
    color: var(--color-text-third);
}

button {
    background: var(--color-button-primary);
    border-radius: 4px;
    color: white;
    padding: 4px 16px;
    cursor: pointer;

    transition: background-color 200ms;
}

button:hover {
    background-color: var(--color-button-secondary);
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
}

a:hover {
    color: var(--color-text-secondary);
}

h1 {
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

h3 {
    font-size: 16px;
}

footer {
    width: 100%;
    height: 62px;
    background: var(--color-footer);
}

p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-paragraph);
}

main {
    min-height: calc(100vh - 200px);
}