<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="assets/logo.png" alt="Logo do Foodfy">
            </a>
        </div>
        <div class="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/">Chefs</a>
            <a href="/login">Login</a>
        </div>
    </nav>
    <div class="search-container">
        {% block search %}
            <input 
                type="text"
                placeholder="Buscar uma receita">
            <form action="">
                <button type="submit">Buscar</button>
            </form>
        {% endblock %}
    </div>
</header>