
<!--
<div class="pagination"
     data-page={{pagination.page}}
     data-total={{pagination.total}}
        data-filter={{filter}}>
</div>
-->

<div class="pagination"
     data-page={{pagination.page}}
     data-total={{pagination.total}}
        data-filter={{filter}}>1, 2, 3, ..., 10, 11, 12
</div>