{% include '../parts/fonts.njk' %}

<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/pagination.css">
<link rel="stylesheet" href="/styles/homePage.css">
<link rel="stylesheet" href="/styles/about.css">